In [13]:
import pandas as pd

In [20]:
df = pd.read_csv('dataset_at_the_end.csv')
df.head()

,Unnamed: 0,genre,storyline,title
0,0,Action Comedy Crime,"Elwood, the now lone ""Blues Brother"" finally r...",Braća Blues 2000
1,1,Comedy Drama Family,Troy and the gang of East High School are goin...,High School Musical 3: Maturanti
2,2,Comedy Family Music,"When the teenager Mary Elizabeth Steppe, a.k.a...",Confessions of a Teenage Drama Queen
3,3,Animation Comedy Family,After a concert mishap lands Dave in the hospi...,Alvin and the Chipmunks: The Squeakquel
4,4,Animation Adventure Comedy,"Playing around while aboard a cruise ship, the...",Alvin i vjeverice 3

In [32]:
lines = []

for index, row in df.iterrows():
    genres = row['genre'].split(" ")
    for genre in genres:
        line = '__label__' + genre + ' ' + row['storyline'] 
        lines.append(line)

In [33]:
with open('dataset.txt', 'w') as f:
    for line in lines:
        f.write("%s\n" % line)